<!DOCTYPE html>
<html>
  <head>
    <title>Test1</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  		<div class="container">
  		  <%= link_to 'Test 1', root_path, class: 'navbar-brand' %>
  		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		  </button>

 		 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav ml-auto">
			<% if user_signed_in? %>
         	  <li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
        		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          			<%= link_to 'Settings', edit_user_registration_path, :class => 'dropdown-item' %>
     			    <%= link_to 'Log out', destroy_user_session_path, method: :delete, :class => 'dropdown-item' %>
     			  </div>
      		  </li>
      		  <% else %>
      		  	<li class="nav-item dropdown">
        		  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        		    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        		      <%= link_to "Sign up", new_user_registration_path, :class => 'dropdown-item' %>
		              <%= link_to "Login", new_user_session_path, :class => 'dropdown-item' %>
     			    </div>
      		    </li>
      	   	  <% end %>
  			</ul>
  		  </div>
        </div>
    </nav>


	  <div class="container">
	    <% flash.each do |key, value| %>
	      <div class="alert alert-<%= key %>">
	        <%= value %>
	      </div>
	    <% end %>
	  </div>

	  <%= yield :top_content %>

	  <div class="container">
	      <h1><%= yield :header %></h1>
	    <%= yield %>
	  </div>

  </body>
</html>
